


<div class= "headerContainer">
  <img src="../assets/img/krusty.png" alt="krusty"> 
    <div class = "heading">
      <h1>Welcome To Krusty Burger</h1>
      <h2><i>Over dozens sold!</i></h2>
    </div>
</div>

<h2>Burgers that are awating to be Devoured!</h2>

<ul>
  {{#each burger}}
  {{#unless devoured}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      <button data-burgerid="{{this.id}}" class="devourBurger">Devour Burger!</button>
    </p>
  </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been Devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      <li>
    <p>
      {{this.id}}. {{this.burger_name}}
    </p>
  </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">New Burger Name:</label>
    <input type="text" id="bg" name="name">
  </div>

  <button type="submit" class = "newBurger">Add A Burger</button>
</form>